@import "@economist/component-bar-wrapper";
@import "@economist/component-typography";
@import "@economist/component-grid";
@import "@economist/component-link-button";

:root {
  --subscribe-message-image-default-width: 182px;
  --subscribe-message-image-default-height: 135px;
}

.subscribe-message {
  font-size: 1rem;
  background: var(--subscribe-message__background, var(--color-kiev));
  color: var(--subscribe-message__color, var(--color-thimphu));
  max-width: inherit;
  padding: var(--subscribe-message-padding, var(--grid-gutter-s));
}

.subscribe-message--container {
  max-width: inherit;
}

.subscribe-message--close-wrapper {
  right: 0;
  top: 0;
}

.subscribe-message--close {
  height: var(--text-size-step-1);
  width: var(--text-size-step-1);
  fill: var(--subscribe-message__color, var(--color-thimphu));
}

.subscribe-message__main-cta,
.subscribe-message__subscribe-link {
  margin-top: var(--subscribe-message-spacing, var(--grid-spacing-rabbit));
}

.subscribe-message__main-cta {
  font-size: var(--subscribe-message-main-cta-font-size, var(--text-size-step--2));
}

.subscribe-message__subscribe-link {
  font-size: var(--subscribe-message-main-cta-font-size, var(--text-size-step--1));
  background: var(--subscribe-message-subscribe-link-background, var(--color-economist));
  padding:
    var(--subscribe-message-subscribe-link-vertical-padding, var(--grid-spacing-hedgehog))
    var(--subscribe-message-subscribe-link-horizontal-padding, var(--grid-spacing-sloth))
  ;
}

@media screen and (max-width: 849px) {
  .subscribe-message__image {
    display: none;
  }
}

@media screen and (min-width: 850px) {
  .subscribe-message--container {
    padding-left: calc(
      var(--subscribe-message-image-width, var(--subscribe-message-image-default-width)) +
      var(--subscribe-message-image-margin, var(--grid-spacing-hedgehog))
    );
  }

  .subscribe-message__image {
    float: left;
    position: absolute;
    /* Image natural dimensions */
    width: var(--subscribe-message-image-width, var(--subscribe-message-image-default-width));
    height: var(--subscribe-message-image-height, var(--subscribe-message-image-default-height));

    left: 0;
    bottom: 0;
  }

  .subscribe-message__main-cta {
    display: inline-block;
    margin-right: var(--subscribe-message-subscribe-link-horizontal-padding, var(--grid-spacing-sloth));
    font-size: 1em;
  }
  .subscribe-message__subscribe-link {
    margin-bottom:
      calc(-1 *
        var(--subscribe-message-subscribe-link-vertical-padding, var(--grid-spacing-hedgehog)));
  }
}

@media screen and (min-width: 1400px) {
  .subscribe-message--container {
    text-align: right;
  }
  .subscribe-message__secondary-cta {
    float: left;
  }
  .subscribe-message__main-cta {
    margin-top: inherit;
  }
  .subscribe-message__subscribe-link {
    /* Undo its own vertical padding so as to align with the text */
    margin-top:
      calc(-1 *
        var(--subscribe-message-subscribe-link-vertical-padding, var(--grid-spacing-hedgehog)));
  }
}

