@import '@economist/component-bar-wrapper';
@import '@economist/component-grid';
@import '@economist/component-link-button';

:root {
  --subscribe-message-image-default-width: 182px;
  --subscribe-message-image-default-height: 135px;
}

.subscribe-message {
  /* We need to add .bar-wrapper to overcome the bar-wrapper styles without using !important */
  &.bar-wrapper {
    max-width: inherit;
    padding: var(--subscribe-message-padding, var(--grid-gutter-s));
    color: var(--subscribe-message__color, var(--color-thimphu));
    font-size: 1rem;
    background: var(--subscribe-message__background, var(--color-kiev));
  }

  & .subscribe-message--container {
    box-sizing: border-box;
    max-width: inherit;
  }

  & .subscribe-message--close-wrapper {
    top: 0;
    right: 0;
  }

  & .subscribe-message--close {
    width: var(--subscribe-message--close-width, 1.13em);
    height: var(--subscribe-message--close-height, 1.13em);
    fill: var(--subscribe-message__color, var(--color-thimphu));
  }

  & .subscribe-message__main-cta {
    margin-top: var(--subscribe-message-spacing, var(--grid-spacing-hedgehog));
    font-size: var(--subscribe-message-main-cta-font-size, 0.79em);
  }

  & .subscribe-message__subscribe-link {
    margin-top: var(--subscribe-message-spacing, var(--grid-spacing-hedgehog));
    padding:
      var(--subscribe-message-subscribe-link-vertical-padding, var(--grid-spacing-hedgehog))
      var(--subscribe-message-subscribe-link-horizontal-padding, var(--grid-spacing-sloth));
    font-size: var(--subscribe-message-main-cta-font-size, 0.89em);
    background: var(--subscribe-message-subscribe-link-background, var(--color-economist));
  }

  & .subscribe-message__image {
    display: none;
  }

  @media screen and (min-width: 950px) {
    & .subscribe-message__image {
      float: left;
      position: absolute;
      bottom: 0;
      left: 0;
      /* Image natural dimensions */
      width: var(--subscribe-message-image-width, var(--subscribe-message-image-default-width));
      height: var(--subscribe-message-image-height, var(--subscribe-message-image-default-height));
    }
    & .subscribe-message__main-cta {
      display: inline-block;
      font-size: 1em;
    }
    & .subscribe-message__subscribe-link {
      float: right;
      /* stylelint-disable function-calc-no-unspaced-operator, function-parentheses-space-inside */
      /* Disabled because they bug out with newlines. See
         https://github.com/stylelint/stylelint/issues/857 (function-calc-no-unspaced-operator)
      */
      margin-top:
        calc(
          -1 *
          calc(
            calc(
              var(--subscribe-message-main-cta-font-size, 0.89em)
                )
              ) +
            var(--subscribe-message-subscribe-link-vertical-padding, var(--grid-spacing-hedgehog)) -
            var(--subscribe-message-spacing, var(--grid-spacing-hedgehog))
            ) *
        var(--subscribe-message-main-cta-font-size, 0.89em)
        )
        );
      /* stylelint-enable function-calc-no-unspaced-operator, function-parentheses-space-inside */
    }
  }

  @media screen and (min-width: 1300px) {
    & .subscribe-message--container {
      /* stylelint-disable function-calc-no-unspaced-operator, function-parentheses-space-inside */
      /* Disabled because they bug out with newlines. See
         https://github.com/stylelint/stylelint/issues/857 (function-calc-no-unspaced-operator)
      */
      padding-left:
        calc(
          var(--subscribe-message-image-width, var(--subscribe-message-image-default-width)) +
          var(--subscribe-message-image-margin, var(--grid-spacing-hedgehog))
        );
      /* stylelint-enable function-calc-no-unspaced-operator, function-parentheses-space-inside  */
    }
    & .subscribe-message__image {
      display: block;
    }
  }
}
